<!-- The home page for the project, which will also be the page that user can talk to the microphone and get the result-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <!-- Create a navbar-->
  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/textver">Text Version</a>
    <a href="/about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="">&#9776;</a>
  </div>

  <!-- title-->
  <div style="text-align:center">
    <h1>Stress prediction web application</h1>
  </div>
  <!--The form to perform POST request-->
  <form action="/result" method="POST">
    <div class="container">
      <div style="margin-top: 80px;">
        <h3 style="text-align: center;">Click this button to express your feeling: </h3>
      </div>
      <!--The button to click-->
      <div class="vertical-center">
        <button style="font-size:24px" class="btn btn-success btn-lg zoom rounded-circle"> <i class="fa fa-microphone"></i></button>
      </div>
      <div style="margin-top: 2px;">
        <h5 style="text-align: center;">After clicking, wait for 2 seconds. Then you will have 10 seconds to talk (email me if you want more time!)</h5>
      </div>
      <div style="margin-top: 50px;">
        <h5 style="text-align: center;">Most recent 20 uses:</h5>
      </div>
    </div>
  </form>

  <!--The table showing the most recent 20 uses-->
  <table>
    <caption>Title</caption>
    <thead>
      <tr>
        <th>Input</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% details.forEach(function(item){ %>
        <tr>
            <td><%= item.Input %></td>
            <td><%= item.Result%></td>
        </tr>
      <% }) %>
    </tbody>
  </table>


</body>

</html>